*{
    text-align: center; 
}


nav {
    display: flex;
    justify-content: center;
    padding: 0.5em 0 0.5em 0.5em;
     
    /* width: 2em; */

  

    transition: width 0s;
    /* content:url("burger.png"); */


      /* to have it display on the right */
    /* margin-left: auto; */
}

nav:hover {
    transition: width 1.5s;
    width:100%;
    content:none;
    padding: 1.5em;
}


nav li{
    list-style: none;
    padding:0  2em 0 2em;
}

nav a{
    text-decoration: none;
}


aside,footer,main,body{
    margin:0.6em;
    border:1px solid black;

}
animatecss-bounceOutDown
